{# Fastboot device with device-dict config #}
{% extends 'fastboot-base.yaml.jinja2' %}

{% set fastboot_auto_detection = fastboot_auto_detection|default(false) %}
{% set adb_serial_number = adb_serial_number|default('0000000000') %}
{% set fastboot_serial_number = fastboot_serial_number|default('0000000000') %}

{% block available_architectures %}
available_architectures:
- arm64
- arm
{% endblock available_architectures %}

{% block deploy_connections_extra %}
      fastboot:
{% endblock deploy_connections_extra %}

{% block deploy_methods %}
      fastboot:
      lxc:
{% endblock deploy_methods %}

{% block boot_connections_extra %}
{# device-dict mode only uses serial, not SSH #}
{% endblock boot_connections_extra %}

{% block boot_methods %}
    methods:
      fastboot:
        - reboot
      minimal:
{% endblock boot_methods %}

{% block actions_test %}
{% if docker_shell_extra_arguments %}
  test:
    methods:
      docker:
        options:
{% for arg in docker_shell_extra_arguments %}
          - {{ arg }}
{% endfor %}
{% endif %}
{% endblock actions_test %}

{% block device_dict_config %}

{% if environment %}
environment: {{ environment }}
{% endif %}

adb_serial_number: "{{ adb_serial_number }}"
fastboot_serial_number: "{{ fastboot_serial_number }}"
fastboot_options: {{ fastboot_options|default([]) }}
fastboot_auto_detection: {{ fastboot_auto_detection }}
{% endblock device_dict_config %}

{% block commands %}

commands:
{% if connection_command %}
    connect: {{ connection_command }}
{% endif %}
{% if hard_reset_command %}
    hard_reset: {{ hard_reset_command }}
{% endif %}
{% if power_off_command %}
    power_off: {{ power_off_command }}
{% endif %}
{% if power_on_command %}
    power_on: {{ power_on_command }}
{% endif %}
{% if pre_power_command %}
    pre_power_command: {{ pre_power_command }}
{% endif %}
{% if pre_os_command %}
    pre_os_command: {{ pre_os_command }}
{% endif %}
{% endblock commands %}
