{# Base template for Fastboot devices - shared blocks #}
{% extends 'base.yaml.jinja2' %}

{% block vland %}
{# disabled #}
{% endblock vland %}

{% block body %}

{% block available_architectures %}
{# Override in child templates #}
{% endblock available_architectures %}

{% block actions_deploy %}
actions:
  deploy:
    connections:
      serial:
{% block deploy_connections_extra %}
      lxc:
{% endblock deploy_connections_extra %}
    methods:
{% block deploy_methods %}
      nfs:
      lxc:
{% endblock deploy_methods %}
{% endblock actions_deploy %}

{% block actions_boot %}
  boot:
    connections:
      serial:
{% block boot_connections_extra %}
      ssh:
      lxc:
{% endblock boot_connections_extra %}
{% block boot_methods %}
    method: fastboot

          options:
{% endblock boot_methods %}
{% endblock actions_boot %}

{% block device_dict_config %}
{# device-dict config - empty for standard #}
{% endblock device_dict_config %}

{% endblock body %}

{% block commands %}
{# Device commands - override in device-dict template #}
{% endblock commands %}
