{% if device.does_storage_prep(rootfs) %}

- test:
    timeout:
      minutes: {{ device.storage_timeout // 2 }}
    definitions:
    - from: inline
      repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: storage-teardown
          description: "Sync and unmount scratch storage"
        run:
          steps:
          - sync
          - umount /scratch || true
      name: storage-teardown-inline
      path: inline/storage-teardown.yaml
{% endif %}
