{% if device.does_storage_prep(rootfs) %}

- test:
    timeout:
      minutes: {{ device.storage_timeout // 2 }}
    definitions:
    - from: inline
      repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: storage-prep
          description: "Prepare scratch storage"
        run:
          steps:
          - export STORAGE_DEV={{ device.storage_device }}
          - test -n "$STORAGE_DEV" || lava-test-raise "STORAGE_DEV not found; job exit"
          - mkfs.ext4 -F -E nodiscard "$STORAGE_DEV"{{ " " + device.storage_size if device.storage_size else "" }} || lava-test-raise "mkfs.ext4 $STORAGE_DEV failed; job exit"
          - mkdir -p /scratch && mount "$STORAGE_DEV" /scratch || lava-test-raise "mount $STORAGE_DEV failed; job exit"
          - df -h
          - mount
      name: storage-prep-inline
      path: inline/storage-prep.yaml
{% endif %}
