{# device-dict config for AmpereOne (NFS boot with GRUB) #}

{% set boot_method = 'grub' %}

{% set connection_command = 'telnet localhost 2010' %}

{% set hard_reset_command = [
    '/usr/bin/ipmitool -I lanplus -H 198.18.0.3 -U ADMIN -P ADMIN power off',
    '/usr/bin/ipmitool -I lanplus -H 198.18.0.3 -U ADMIN -P ADMIN power on',
    'sleep 3',
    '/bin/bash -c "/usr/bin/ipmitool -I lanplus -H 198.18.0.3 -U ADMIN -P ADMIN raw 0x3c 0x03 0x01; for i in $(seq 0 10); do ipmitool -I lanplus -H 198.18.0.3 -U ADMIN -P ADMIN raw 0x3c 0x04 $i 0x1e; done"',
    'laacli usb 2 off',
    'laacli usb 2 on',
] %}

{% set power_on_command = [
    '/usr/bin/ipmitool -I lanplus -H 198.18.0.3 -U ADMIN -P ADMIN power on',
    'laacli usb 2 on'
] %}

{% set power_off_command = [
    '/usr/bin/ipmitool -I lanplus -H 198.18.0.3 -U ADMIN -P ADMIN power off',
    'laacli usb 2 off'
] %}

{% set docker_shell_extra_arguments = [
    '--add-host=lava-worker.internal:host-gateway',
    '--volume=/usr/bin/laacli:/usr/bin/laacli:ro',
    '--volume=/usr/bin/lsibcli:/usr/bin/lsibcli:ro',
    '--volume=/run/dbus/system_bus_socket:/run/dbus/system_bus_socket:rw',
] %}
